<% provide :title, "About" %>
<h1>Your Body Transformation Starts Today</h1>
<p><strong>Why most people don't get fit?</strong></p>
<p>They get demotivated, because they dont "see" the results.</p>
<p><strong>False</strong></p>
<p>The results are there, you just don't know where to look.</p>